.nav{
    background-color:#fff;
    width:100%;
    position: fixed;
    height: 60px;
    z-index: 2;
    display: inline;
    border-bottom: 1px solid rgb(236, 232, 232);
    display:flex;
    flex-wrap: row nowrap;

    &-menus{
        display: inline-block;
        top: 0;
        width: 100%;
        font-family: 'billabong';
        font-size: 50px;
        justify-content: space-between;
        // margin: auto;
        padding-right: 30px;
    }

.logoimage{
    height:60px;
    width:80px;
    display: inline;
    opacity: 0.9;
    cursor: pointer;
    justify-content: space-between;
    top: 0;
    text-indent: -1000%;
    align-items: stretch;
}
.profileimage{
    height:48px;
    width:80px;
    display: inline;
    opacity: 0.9;
    cursor: pointer;
    justify-content: space-between;
    top: 0;
    text-indent: -1000%;
    align-items: stretch;
}
}

